<div class="about">

    <div class="profile">
        <img class="pfp" src="https://place-hold.it/250x250/aaa/white.jpg" />
        <h3 class="name">{{persona.nombre}} {{persona.apellido}}</h3>
        <span class="shortdesc">Full Stack Developer Jr.</span>
        <span class="ubication">La Plata, Buenos Aires, Argentina</span>
    </div>

    <div class="about-me">
        <h3 class="title">Acerca de</h3>
        <span class="longdesc">Estudiante Universitario de tercer año de Ingenieria Electrónica e Ingenieria Industrial en la Facultad de Ingenieria de La Plata. Apasionado por la tecnología, el arte, la ciencia y la música.</span>
    </div>

</div>
