<app-header></app-header>

<div class="editeabout">
    <h3>Edicion de About</h3>
          <form *ngIf="person" (ngSubmit)="onUpdate()" #f="ngForm" novalidate>

                <div class="formulario">

                    <div class="form-floating mb-3 form-group">
                        <input type="text" class="form-control" id="persNombre" placeholder="Nombre" name="persNombre" [(ngModel)]="person.persNombre" required/>
                        <label for="persNombre">Nombre</label>
                    </div>

                    <div class="form-floating mb-3 form-group">
                        <input type="text" class="form-control" id="persApellido" placeholder="Apellido" name="persApellido" [(ngModel)]="person.persApellido" required/>
                        <label for="persApellido">Apellido</label>
                    </div>

                    <div class="form-floating mb-3 form-group">
                        <input type="text" class="form-control" id="persLocalidad" placeholder="Localidad" name="persLocalidad" [(ngModel)]="person.persLocalidad" required/>
                        <label for="persLocalidad">Localidad</label>
                    </div>

                    <div class="form-floating mb-3 form-group">
                        <input type="text" class="form-control" id="persTitulo" placeholder="Título" name="persTitulo" [(ngModel)]="person.persTitulo" required/>
                        <label for="persTitulo">Título</label>
                    </div>

                    <div class="form-floating mb-3 form-group">
                        <input type="text" class="form-control" id="persImg" placeholder="Url de la imágen" name="persImg" [(ngModel)]="person.persImg" required/>
                        <label for="persImg">Url de la imágen</label>
                    </div>

                    <div class="form-floating mb-3 form-group">
                        <input type="text" class="form-control" id="persAbout" placeholder="Sobre mí" name="persAbout" [(ngModel)]="person.persAbout" required/>
                        <label for="persAbout">Sobre mí</label>
                    </div>

                </div>

                <div class="buttons">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="editexperience" routerLink="/">
                        Cerrar
                    </button>

                    <button type="button submit" class="btn btn-success" data-bs-dismiss="editexperience" >
                        Actualizar
                    </button>
                </div>
            </form>  
</div>


<app-footer></app-footer>

