.header {
   /* background: #1abc9c; */

    overflow: hidden;
    background: #85CCEA;
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    color: white;
}

.title{
  margin: 0;
  margin-right: auto;
}

.arg-logo {
  display: block;
  height: 30px;
  
}

.social{
  display: block;
  width: 24px;
  height: 24px;
  
}

.banner{
  display: flex;
  justify-content: center;
}