<header>

    <div class="header">
        <img class="arg-logo" src="assets\img\ar-programa-logo.png">
        <h6 class="title">#YoProgramo</h6>
        <a href="https://github.com/BautistaV" target="_blank" rel="noopener noreferrer">
            <img class="social" src="assets\img\github-logo.png">
        </a>
        <a href="https://www.instagram.com/bautista.bv/" target="_blank" rel="noopener noreferrer">
            <img class="social" src="assets\img\logo-instagram.png">
        </a>
        <a href="https://twitter.com/Bautistitaa" target="_blank" rel="noopener noreferrer">
            <img class="social" src="assets\img\twitter-logo.png">
        </a>
        <app-login></app-login>
    </div>
    <div class="banner">
        <img class="banner" src="https://place-hold.it/1920x300/aaa/white.png&text=1920x300">
    </div>


    
</header>
