<div class="projects">

    <h2 class="title">Proyectos</h2>


    <div class="media">
        <img class="img" src="https://via.placeholder.com/300.png/09f/fff" />
        <div class="info">
            <h3 class="name">Nombre del Proyecto1</h3>
            <span class="desc">Descripcion del Proyecto1</span>
            <span class="time">Fecha</span>
        </div>
    </div>
    <div class="media">
        <img class="img" src="https://via.placeholder.com/300.png/09f/fff" />
        <div class="info">
            <h3 class="name">Nombre del proecto2</h3>
            <span class="desc">Descripcion del Proyecto2</span>
            <span class="time">Fecha</span>
        </div>
    </div>


</div>
