<div class="hard-soft-skills">
    <h2 class="title">Hard & Soft Skills</h2>

    <div class="skills">
        <div class='skill'>
            <circle-progress
                [title]="'HTML'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [imageSrc]="'assets/img/HTML5-logo.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [percent]="100"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'CSS'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [imageSrc]="'assets/img/CSS-logov2.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [percent]="80"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'Javascript'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [imageSrc]="'assets/img/JS-logov2.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [percent]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'MATLAB'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [imageSrc]="'assets/img/MATLAB-logo.png'"
                [showImage]="true"
                [imageHeight]="65"
                [imageWidth]="120"
                [percent]="85"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'Adobe Photoshop'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [imageSrc]="'assets/img/Photoshop-logo.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"
                [percent]="80"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'Microsoft Office'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [imageSrc]="'assets/img/microsoft-office-logo.png'"
                [showImage]="true"
                [imageHeight]="55"
                [imageWidth]="120"
                [percent]="90"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'Edición de Video'"
                [showTitle]="true"
                [titleFontSize]="'1em'"
                [percent]="60"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'Matemáticas'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [percent]="100"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'Comunicación'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [percent]="100"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'Compañerismo'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [percent]="100"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
    </div>
</div>
