<div class="hard-soft-skills">
    <div class="toptitle">
        <h2 class="title">Hard & Soft Skills</h2>
        <app-newskill *ngIf="isLogged"></app-newskill>
    </div>

    <div class="skills">
        <div class="listaskills" *ngFor="let skills of listaDeSkills">
            <div class='skill'>
                <circle-progress
                    [title]="skills.skillName"
                    [showTitle]="true"
                    [titleFontSize]="'1.5em'"
                    [imageHeight]="80"
                    [imageWidth]="80"
                    [percent]='skills.skillPercent'
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [radius]="100"
                    [space]="-10"
                    [outerStrokeGradient]="true"
                    [outerStrokeWidth]="10"
                    [outerStrokeColor]="'#4882c2'"
                    [outerStrokeGradientStopColor]="'#53a9ff'"
                    [innerStrokeColor]="'#e7e8ea'"
                    [innerStrokeWidth]="10"
                    [animation]="true"
                    [animationDuration]="700"
                ></circle-progress>

                <div class="buttons-media">
        
                    <button *ngIf="isLogged" routerLink="/editskills/{{skills.id}}" type="button"
                        class="editexpe btn btn-outline-warning btn-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path
                                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                            <path fill-rule="evenodd"
                                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                        </svg>
                    </button>
        
                    <button *ngIf="isLogged" type="button" class="btn-sm btn btn-outline-danger"><svg
                            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3"
                            viewBox="0 0 16 16" (click)="delete(skills.id)">
                            <path
                                d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                        </svg></button>
                </div>

            </div>
        </div>
    </div>
</div>


<!--
    <div class="skills">
        <div class='skill'>
            <circle-progress
                [title]="'HTML'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [imageSrc]="'assets/img/HTML5-logo.png'"
                [imageHeight]="80"
                [imageWidth]="80"
                [percent]="100"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'CSS'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [imageSrc]="'assets/img/CSS-logov2.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [percent]="80"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'Javascript'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [imageSrc]="'assets/img/JS-logov2.png'"
                [showImage]="true"
                [imageHeight]="80"
                [imageWidth]="80"
                [percent]="70"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'MATLAB'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [imageSrc]="'assets/img/MATLAB-logo.png'"
                [showImage]="true"
                [imageHeight]="65"
                [imageWidth]="120"
                [percent]="85"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'Adobe Photoshop'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [imageSrc]="'assets/img/Photoshop-logo.png'"
                [showImage]="true"
                [imageHeight]="60"
                [imageWidth]="60"
                [percent]="80"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'Matemáticas'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [percent]="100"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'Comunicación'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [percent]="100"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class='skill'>
            <circle-progress
                [title]="'Compañerismo'"
                [showTitle]="true"
                [titleFontSize]="'1.5em'"
                [percent]="100"
                [showUnits]="false"
                [showSubtitle]="false"
                [radius]="100"
                [space]="-10"
                [outerStrokeGradient]="true"
                [outerStrokeWidth]="10"
                [outerStrokeColor]="'#4882c2'"
                [outerStrokeGradientStopColor]="'#53a9ff'"
                [innerStrokeColor]="'#e7e8ea'"
                [innerStrokeWidth]="10"
                [animation]="true"
                [animationDuration]="700"
            ></circle-progress>
        </div>
    </div>
</div>

-->