/* You can add global styles to this file, and also import other style files */
body{

   /* background-color: #2EA7DC; */
    background-color: black;
    color: #112D4E;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
}