<app-header></app-header>

<div class="editexperience">
    <h3>Edicion de experiencia</h3>
          <form *ngIf="workexp" (ngSubmit)="onUpdate()" #f="ngForm" novalidate>

                <div class="formulario">

                    <div class="form-floating mb-3 form-group">
                        <input type="text" class="form-control" id="expName" placeholder="Experiencia" name="expName" [(ngModel)]="workexp.expName" required/>
                        <label for="expName">Experiencia</label>
                    </div>

                    <div class="form-floating mb-3 form-group">
                        <input type="text" class="form-control" id="expDesc" placeholder="Descripción" name="expDesc" [(ngModel)]="workexp.expDesc" required/>
                        <label for="expDesc">Descripción</label>
                    </div>

                    <div class="form-floating mb-3 form-group">
                        <input type="text" class="form-control" id="expTime" placeholder="Fecha" name="expTime" [(ngModel)]="workexp.expTime" required/>
                        <label for="expTime">Fecha</label>
                    </div>

                    <div class="form-floating mb-3 form-group">
                        <input type="text" class="form-control" id="expImg" placeholder="URL de la imagen" name="expImg" [(ngModel)]="workexp.expImg" required/>
                        <label for="expImg">Url de la imagen</label>
                    </div>

                </div>

                <div class="buttons">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="editexperience" routerLink="/">
                        Cerrar
                    </button>

                    <button type="button submit" class="btn btn-success" data-bs-dismiss="editexperience" >
                        Actualizar
                    </button>
                </div>
            </form>  
</div>


<app-footer class="fixed-bottom"></app-footer>