<div class="experience">

    <h2 class="title">Experiencia</h2>


    <div class="media">
        <img class="img" src="assets\img\secretario.png" />
        <div class="info">
            <h3 class="name">Secretario</h3>
            <span class="desc">Secretario en un consultorio odontológico.</span>
            <span class="time">2019 - actualidad</span>
        </div>
    </div>
    <div class="media">
        <img class="img" src="assets\img\clases-particulares.jpg" />
        <div class="info">
            <h3 class="name">Profesor particular</h3>
            <span class="desc">Clases de física y matemática de nivel secundario y universitario.</span>
            <span class="time">2019 - 2022</span>
        </div>
    </div>


</div>